.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #522d80;
}

.login-form {
  background-color: #e0e0e0; 
  width: 300px;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  background-color: #eaeaea;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f0f0f0;
}

