.admin-screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  background-color: #afafaf;
  color: white;
}

.quadrant {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 30px;
  justify-content: flex-start;  
  align-items: flex-start;
  border-radius: 20px;
  margin: 10px;
  background-color: #522d80;
  height: calc(100% - 50px);
  flex: 1;
}

.input-field {
  width: calc(100%);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.admin-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  background-color: #e0e0e0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  margin: 5px;
  align-self: center;
  }

.bordered {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.user-screen {
  height: 100vh;
  background-color: #afafaf;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 1.2fr 0.8fr;

}

.q3 { grid-area: 2 / 2 / 3 / 3; }
.q4 { grid-area: 2 / 3 / 3 / 4; }
.q1 { grid-area: 1 / 1 / 3 / 2; }
.q2 { grid-area: 1 / 2 / 2 / 4; }

